<h2>Faceit Rosters - {{this.currentRegion}}</h2>
<div class='region-selector'>
  <ng-select [items]=this.faceitEvents
             [multiple]="false"
             placeholder="Faceit Event"
             [virtualScroll]="true"
             (change)="this.selectFaceitEvent($event)">
  </ng-select>
  <div>
    This page is updated every 15 minutes with data from Faceit
  </div>
</div>

<div class="example-container desktop">
  <h2>Rosters</h2>
  <input type="text" [(ngModel)]="filterText" (input)="filterItems()" placeholder="Filter By Players, Team, or Coach">

  <mat-table [dataSource]='this.dataSource'>
    <ng-container matColumnDef="teamName">
      <th mat-header-cell *matHeaderCellDef >Team Name</th>
      <td mat-cell *matCellDef="let row"> {{row.teamName}} </td>
    </ng-container>

    <ng-container matColumnDef="playerIgn0">
      <th mat-header-cell *matHeaderCellDef>Player 1</th>
      <td mat-cell *matCellDef="let row"> {{row.playerIgn0}} </td>
    </ng-container>

    <ng-container matColumnDef="playerIgn1">
      <th mat-header-cell *matHeaderCellDef>Player 2</th>
      <td mat-cell *matCellDef="let row"> {{row.playerIgn1}} </td>
    </ng-container>

    <ng-container matColumnDef="playerIgn2">
      <th mat-header-cell *matHeaderCellDef>Player 3</th>
      <td mat-cell *matCellDef="let row"> {{row.playerIgn2}} </td>
    </ng-container>

    <ng-container matColumnDef="playerIgn3">
      <th mat-header-cell *matHeaderCellDef>Player 4</th>
      <td mat-cell *matCellDef="let row"> {{row.playerIgn3}} </td>
    </ng-container>

    <ng-container matColumnDef="playerIgn4">
      <th mat-header-cell *matHeaderCellDef>Player 5</th>
      <td mat-cell *matCellDef="let row"> {{row.playerIgn4}} </td>
    </ng-container>

    <ng-container matColumnDef="playerIgn5">
      <th mat-header-cell *matHeaderCellDef>Player 6</th>
      <td mat-cell *matCellDef="let row"> {{row.playerIgn5}} </td>
    </ng-container>

    <ng-container matColumnDef="playerIgn6">
      <th mat-header-cell *matHeaderCellDef>Player 7</th>
      <td mat-cell *matCellDef="let row"> {{row.playerIgn6}} </td>
    </ng-container>

    <ng-container matColumnDef="playerIgn7">
      <th mat-header-cell *matHeaderCellDef>Player 8</th>
      <td mat-cell *matCellDef="let row"> {{row.playerIgn7}} </td>
    </ng-container>

    <ng-container matColumnDef="coachIgn0">
      <th mat-header-cell *matHeaderCellDef>Coach</th>
      <td mat-cell *matCellDef="let row"> {{row.coachIgn0}} </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef='this.columnsToDisplay'></mat-header-row>
    <mat-row *matRowDef='let row; columns:this.columnsToDisplay;'></mat-row>
  </mat-table>
</div>

<div class="example-container mobile">
  <h2>Rosters</h2>
  <input type="text" [(ngModel)]="filterText" (input)="filterItems()" placeholder="Filter By Players, Team, or Coach">
  <div class="example-box" *ngFor="let item of filteredRosters"><roster [roster]='item'></roster></div>
</div>
