<div [hidden]='!showSelector'>
  <selector></selector>
  <button class="search-button" (click)="search()">Search</button>
</div>
<br>
<br>

<div *ngIf='queryResponse.data.length == 0 && !loading && !loaded'>
  <h2 align='center'>Query for stats then build the scatter plot you want to see</h2>
</div>

<div *ngIf='loading'>
  <h2 align='center'>Loading...</h2>
</div>

<div *ngIf='queryResponse.data.length == 0 && loaded'>
  <h2 align='center'>Query returned no data, please try a different query</h2>
</div>
<div [hidden]='!(queryResponse.data.length > 0 && loaded)'>
  <button class="search-button" (click)="buildNewSearch()">Build new Search</button>
  <div class='search-text'>
    Using data from the search included the terms:
    <br>
    {{this.selectionText()}}
  </div>
  <br>
  <br>
  <div>
      <div class="option-line">
        <div class="option-three">
          <select-x-stat></select-x-stat>
        </div>
        <div class="option-three">
          <select-y-stat></select-y-stat>
        </div>
        <div class="option-three">
          <select-size></select-size>
        </div>
      </div>
      <div class="option-line">
        <div class="option-three">
          <select-x-stat-denom></select-x-stat-denom>
        </div>
        <div class="option-three">
          <select-y-stat-denom></select-y-stat-denom>
        </div>
      </div>
      <button class="search-button" (click)="buildChart()">Build Plot</button>
  </div>
  <br>
  <br>
  <div align='center'>
    <plot [data]='this.data'></plot>
  </div>
</div>