<div class="top">
    <div class="bar black card">
        <a class="bar-item button padding-large" href="/home">HOME</a>
        <a class="bar-item button padding-large" href="/2018charts">SEASON 1 CHARTS</a>
        <a class="bar-item button padding-large" href="/2019charts">SEASON 2 CHARTS</a>
        <a class="bar-item button padding-large" href="/2020charts">SEASON 3 CHARTS</a>
        <a class="bar-item button padding-large" href="/charts">SEASON 4 CHARTS</a>
        <a class="bar-item button padding-large" href="/2022charts">SEASON 5 CHARTS</a>
        <a class="bar-item button padding-large" href="/2023charts">SEASON 6 CHARTS</a>
        <a class="bar-item button padding-large" href="/winrates">WIN RATES</a>
    </div>
</div>
<br>
