<div class="top">
    <div class="bar black card">
        <a class="bar-item button padding-large" href="/home">HOME</a>
        <a class="bar-item button padding-large" href="/charts">SEASON 4 CHARTS</a>
        <a class="bar-item button padding-large" href="/2022charts">SEASON 5 CHARTS</a>
        <a class="bar-item button padding-large" href="/2023charts">SEASON 6 CHARTS</a>
        <a class="bar-item button padding-large" href="/owcs-roster-mania">OWCS Roster Builder</a>
    </div>
</div>
<br>
