<mat-expansion-panel class='mat-modified'>
  <mat-expansion-panel-header>
    <mat-panel-description *ngIf="!expansionPanel?.expanded">
      <span style="width: 100%;text-align: center">{{selectionText()}}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div>
    <div class="option-line">
      <div class="option-three"></div>
      <div class="option-three"><select-aggregation-type></select-aggregation-type></div>
      <div class="option-three"></div>

    </div>

    <div class="option-line">
      <div class="option-two"><select-player></select-player></div>
      <div class="option-two"><select-hero></select-hero></div>
    </div>

    <div class="option-line">
      <div class="option-two"><select-team></select-team></div>
      <div class="option-two"><select-opponent-team></select-opponent-team></div>
    </div>

    <div class="option-line">
      <div class="option-two"><select-composition></select-composition></div>
      <div class="option-two"><select-opponent-composition></select-opponent-composition></div>
    </div>

    <div class="option-line">
      <div class="option-three"><select-map-type></select-map-type></div>
      <div class="option-three"><select-map-name></select-map-name></div>
      <div class="option-three"><select-stage></select-stage></div>
    </div>

  </div>
</mat-expansion-panel>