.placement-label {
    font-weight: bold;
    height: 100%;
    font-size: 20px;
    width: 10%;
    padding-left: 20px;
}

.team-info {
    font-weight: bold;
    font-size: 18px;
    height: 100%;
    width: 60%;

}

.points-label {
    font-weight: bold;
    font-size: 18px;
    height: 100%;
    width: 30%;
}

.team-label {
    font-weight: bold;
    font-size: 18px;
    height: 80%;
}
.points-warning {
    height: 20%;
    top: 80%;
    font-size: 14px;
}

.red {
    color: red;
}

.green {
    color: green;
}
