<div class='player-container'>
<span class='sub-box-left'>
  <div class='player-name'>
    {{ this.playerInfo?.ign }}
    ({{ this.playerInfo?.points }} Points)
  </div>
  <div class='team-name'>
    {{ this.playerInfo?.teamName }}
  </div>
  <div class='points-warning red' *ngIf='displayNotCountsInCalc()'>
    This player does not count in circuit point total
  </div>
  <div class='points-warning green' *ngIf='displayCountsInCalc()'>
    This player counts in circuit point total
  </div>
</span>
<span class='sub-box-right'>
  <img src='../../assets/tank.webp' class='role-icon' *ngIf="isTank()">
  <img src='../../assets/damage.webp' class='role-icon' *ngIf="isDps()">
  <img src='../../assets/support.webp' class='role-icon' *ngIf="isSupport()">
</span>
</div>