<h2>Circuit Point Standings - {{this.currentRegion}}</h2>
<div class='region-selector'>
<span >
  <label>
    <input type="radio" name="option" value="North America" [(ngModel)]="currentRegion" (change)="swapToNA()">
    North America
  </label>
</span>
<span>
  <label>
    <input type="radio" name="option" value="EMEA" [(ngModel)]="currentRegion" (change)="swapToEMEA()">
    EMEA
  </label>
</span>
</div>
<div class='circuit-point-page'>
<span class='sub-box-left'>
  <div class="example-container">
      <div
        cdkDropList
        [cdkDropListData]="this.teams"
        class="example-list"
        (cdkDropListDropped)="dropTeam($event)">
        <div class="example-box" *ngFor="let item of this.teams; let i = index" cdkDrag [cdkDragDisabled]="isPlaced(item)"><owcs-circuit-points-team [roster]='item' [place]='i' (pointsUpdated)='updateTeamPoints($event)'></owcs-circuit-points-team></div>
      </div>
    </div>
</span>
<span class='sub-box-right'>
  <div class="standings-box">
    <h2>Final Standings</h2>
    <div class="standings-row" *ngFor="let item of this.finalStandings; let i = index"><circuit-points-team-standing [teamPoints]='item' [indexNum]='i'></circuit-points-team-standing></div>
  </div>
</span>
</div>

